html {
  font-size: 100%;
}
body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: "Californian FB", AppleMyungjo;
}
header{
  background: linear-gradient(to top right, #B7E9F7, white);
  color: #004b6eff;
  font-size: 1.5rem;
  padding: .5em 3em .5em 3em;
  text-align: center;
  font-weight: bold;
}
header a {
  text-decoration: none;
  color: #004b6eff;
}

nav ul{
  background-color: #004b6eff;
  margin: 0;
  padding: 1em 4em 1em 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  justify-items: center;
  list-style-type: none;
}
nav ul li{
  display: inline;
  font-weight: bold;
  /*changes*/
}

nav ul li a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper{
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
}
#title1{
  text-align: center;
}
#title2{
  text-align: center;
}
#primary{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin: 1em;
  padding: 0 1em 0 1em;
  border: 3px solid #004b6eff;
  width: 37rem;
}
#first{
  padding: 1em 1em 0 1em;
}
#secondary{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin: 1em;
  padding: 0 1em 0 1em;
  border: 3px solid #004b6eff;
  width: 37rem;
}
#second{
  padding: 1em 1em 0 1em;
}
figure{
  margin: 0;

}

figure img{
  width: 100%;

}
form{
  background-color: #B7E9F7;
  width: 25em;
  height: 25em;
  justify-content: right;
  padding-left: 2em;
}

.wrapper2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image{
  width: 25em;
  height: 29em;
}
.wrapcontactme{
  text-align: center;
  font-size: 150%;
}
.wrapresume{
  text-align: center;
  font-size: 150%;
}

.resumeimg{
  display: flex;
  justify-content: center;
}

.wrapwork{
  text-align: center;
  font-size: 150%;
}

#worktitle{
  text-align:center;
}

#start{
  padding: 1em 1em 0 1em;
  margin: 1em;
  padding: 0 1em 0 1em;
  border: 3px solid #004b6eff;
  width: 37rem;
}

.topwork{
  display: flex;
  justify-content: center;
}

#start2{
  padding: 1em 1em 0 1em;
  margin: 1em;
  padding: 0 1em 0 1em;
  border: 3px solid #004b6eff;
  width: 37rem;
}

.project1{
  display: flex;
  justify-content: center;
}

#start3{
  padding: 1em 1em 0 1em;
  margin: 1em;
  padding: 0 1em 0 1em;
  border: 3px solid #004b6eff;
  width: 37rem;
}

.project2{
  display: flex;
  justify-content: center;
}

.wrapblog{
  text-align: center;
  font-size: 150%;
}

footer{
  background: linear-gradient(to top right, #B7E9F7, white);
  color: black;
  font-size: .7rem;
  padding: 1em 1em 1em 2em;
  font-weight: bold;
}
